.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  text-align-last: left;
  font-size: 20px;
  font-family: montserrat, arial, verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  /* font-weight: 900; */
  font-size: xx-large;
  text-align-last: center;
  padding: 50px 0;
}

.main-div {
  display: grid;
  background-color: #e0dee0;
}

hr {
  grid-column-end: span 3;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

@media screen and (max-width: 800px) {
  * {
    text-align-last: center;
    text-align: center;
  }
}
